<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WriteSpace</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <a class="brand-name" href="/"><h1 >WriteSpace</h1></a>
    </header>
